/* vendors */
/* tutoMaths */
.classeOuverte {
  color: #00AA00;
}
.classeFermee {
  color: #DD0000;
}
.boutonConnexion {
  margin-right: 20px;
}
.pagination {
  margin: 0px !important;
}
.bouton-rectangle {
  width: 30px;
  height: 20px;
  margin: 5px;
  float: right;
  cursor: pointer;
  background-color: black;
  text-align: center;
  color: #ffffff;
}
.zone-clickable-unselected {
  cursor: pointer;
  padding: 5px;
}
.zone-clickable-unselected:hover {
  background-color: #AAAAAA;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
