<table class='table table-striped'>
	<thead>
		<tr>
			<th><a href="" sortBy="id">#</a></th>
			<th><a href="" sortBy="date"><span class="glyphicon glyphicon-time"></span></a></th>
			<th><a href="" sortBy="identifiant">Identifiant</a></th>
			<th>Nom</th>
			<th>Mot de passe erroné</th>
			<th>Succès</th>
			<th width="50"></th> <!-- bouton suppression -->
		</tr>
	</thead>
	<tbody id="{{id}}"><!-- Conteneur pour les items -->
	{{{liste_html}}}
	</tbody>
</table>
