<div class="input-group">
	<span class="input-group-addon">Identifiant</span>
	<input type="text" class="form-control" name="identifiant" placeholder="Entrez un identifiant">
</div>
<br>
<div class="input-group">
	<span class="input-group-addon input-group-addon-danger">Mot de passe</span>
	<input type="password" class="form-control" name="pwd" placeholder="Entrez un mot de passe">
</div>
<br>
<div id="messages{{divId}}"></div>
