<table class="table table-striped">
	<thead>
		<tr>
			{{#if params.showId}}<th width="16px">#</th>{{/if}}
			<th>Nom</th>
			{{#if params.showOwner}}<th width="100px">Prof.</th>{{/if}}
			<th width="80px">Création</th><!-- date -->
			{{#if params.showModify}}
				<th width="250px"></th> <!-- bouton visible/invisible|bouton actif/inactif|lien vers liste aUF|bouton d'édition|bouton de suppression -->
			{{/if}}
		</tr>
	</thead>
	<tbody id="{{id}}"><!-- Conteneur pour les items -->
	{{{liste_html}}}
	</tbody>
</table>
