<div class="form-group" id="{{id}}">
	<label for="pwdInput" class="col-sm-2 control-label">Mot de passe</label>
	<div class="col-sm-10">
		<input type="password" class="form-control" name="pwd" id="pwdInput" placeholder="Mot de passe">
	</div>
</div>
<div class="form-group">
	<label for="pwdInputConfirm" class="col-sm-2 control-label">Confirmez</label>
	<div class="col-sm-10">
		<input type="password" class="form-control" name="pwdConfirm" id="pwdInputConfirm" placeholder="Confirmez le mot de passe">
	</div>
</div>
