<div class="panel panel-warning">
	<div class="panel-heading"><h4 class="panel-title">Validez quand vous avez terminé</h4></div>
	<div class="panel-body">
		<form id="form{{ id }}">
			<button type="submit" class="btn btn-default">Valider</button>
		</form>
	</div>
</div>
